{% extends "user_auth/base.html" %}

{% block content %}

    <li><a href="{% url 'logout' %}">Logout</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
    <li><a href="{% url 'doctor' %}">Doctor</a></li>
    <li><a href="{% url 'patient' %}">Patient</a></li>
    <li><a href="{% url 'blogs' %}">Blogs</a></li>
    <li><a href="{% url 'doc_blog' %}">Doctor's Blog</a></li>
    <li><a href="{% url 'create_blog' %}">Write Blog</a></li>


{% endblock %}